2, B2e/S, 0, 0, 2, o$bo!
5, B2-n3ac/S, 0, 0, 3, o$2bo$2b2o2$4bo!
3, B2cei3ijn4k5n/S, 0, 0, 4, o2$o$bo!
9, B2aci3ac4ejrwz/S, 0, 0, 5, 3bo$3bo$3bo$3o$3bo$3bo$3bo!
4, B2c4c/S, 0, 0, 6, obobobo!
6, B2-cn3ce4ir5y/S, 0, 0, 7, 2bo$3bo$obo$3bo$2bo!
3, B2aci3ejk4aiwy5ijry7e/S, 0, 0, 8, ob2o!
5, B2aci3aejy4w5y6i7e/S, 0, 0, 9, obo$2bo$obo!
4, B2-a3-cey4ijn5cnr/S, 0, 0, 10, o$bo$2bo$o!
5, B2aci3aeqr4ktwz5aey/S, 0, 0, 11, 3o2$obo!
4, B2-a3-ceqy4anrwy5ar/S, 0, 0, 12, 4bo$bo$o3bo!
5, B2-a3-acey4ajkw5knry/S, 0, 0, 13, o$bobo$3bo$4bo!
3, B2-ek3ekqr4acw5aiqry6n/S, 0, 0, 14, ob2o!
5, B2-a3-acey4ajkw5knqry/S, 0, 0, 15, 3bo$4bo$o$b2o!
3, B2-en3cqy4ewy5a6i7c/S, 0, 0, 16, 2obo!
4, B2-en3cekry4w5-ejkq6kn8/S, 0, 0, 17, 3bo2$obo2$3bo!
3, B2aci3ackq4qwy5einy6a/S, 0, 0, 18, 2obo!
5, B2-a3-c4ajny5acnr6i/S, 0, 0, 19, o2$o2b2o$2bo!
3, B2-e3eqy4akn5ai7e/S, 0, 0, 20, 2obo!
4, B2-an3-ac4acnrwz5anqr6ei/S, 0, 0, 21, o$bo2$bo2$bo!
3, B2aci3ac4ikqtwy5e6e/S, 0, 0, 22, 2obo!
5, B2-a3-acr4ainw5aikry6k/S, 0, 0, 23, 2bo2$2bobo$o2$o!
3, B2-kn3ce4ckty5aikry/S, 0, 0, 24, 2obo!
3, B2aci3ck4anqw5-cqry6ae/S, 0, 0, 25, ob2o!
3, B2-kn3c4knw5aei/S, 0, 0, 26, 2obo!
6, B2-a3-ack4aw5-jkqy6a/S, 0, 0, 27, bo2bo2$obo2bo$2bo!
3, B2aci3c4kqwyz5-cjqr/S, 0, 0, 28, 2obo!
5, B2-a3eijqr4acejkwy5acqr/S, 0, 0, 29, bo$o$4bo2$bobo!
3, B2-k3qy4acjkntz5aenry6i7e8/S, 0, 0, 30, 2obo!
5, B2-a3-acek4ajnw5acek6aik7/S, 0, 0, 31, 4bo$o2bo2$o2bo!
3, B2-ek3acey4einrw5cnry6k/S, 0, 0, 32, 2obo!
5, B2-an3aijnr4-ceiqz5-ciky6ae/S, 0, 0, 33, bo2bo$o2bo2$o!
3, B2-kn3ace4aciry5ainy6a7e/S, 0, 0, 34, 2obo!
5, B2-a3eijnq4-cjqrt5aciry6e/S, 0, 0, 35, bo2$o2bo2$2bobo!
3, B2-ek4jqtwy5aekny/S, 0, 0, 36, 2obo!
4, B2cek3-iq4ijknrw5cn6ai7c/S, 0, 0, 37, bo$o2bo$4bo!
3, B2aci3ac4aekqwyz5aeqy6a8/S, 0, 0, 38, 2obo!
5, B2-a3-ceq4any5-eny6-cn7e/S, 0, 0, 39, bobo$o2$2bo$o!
3, B2-n3acekq4aekz5jy6ik7c/S, 0, 0, 40, 2obo!
5, B2cek3-eikn4-irtyz5-e6ck8/S, 0, 0, 41, bo$3bo$2bo$bo$o!
3, B2-ek3ck4qtw5aekn6e/S, 0, 0, 42, 2obo!
5, B2cek3acjqr4-nry5-cjkr/S, 0, 0, 43, bo$3bo$bo$2bo$o!
4, B2-an3-ery4cjknrw5aejr/S, 0, 0, 44, 2bobo2$bo$o!
4, B2-a3-cky4aikqrwy5acij6ik/S, 0, 0, 45, obo$4bo2$4bo!
3, B2-kn4nry5ai6i/S, 0, 0, 46, 2obo!
5, B2-an3-ekqy4aenwyz5-cn6aik7e8/S, 0, 0, 47, 5bo$bo$o2bobo!
4, B2-an3ijknr4anrwyz5aejnr/S, 0, 0, 48, bo$2bo3$obo!
5, B2-a3aijnq4acikrwz5acky6n/S, 0, 0, 49, 3bo$2bo$bobo$o!
4, B2-an3-er4ijkntw5aejr6ik/S, 0, 0, 50, o$bo2$2bo2$2bo!
4, B2-an3aijnq4-ekqty5-ei6ei/S, 0, 0, 51, 5bo$obobo!
4, B2-an3-kr4aijqrtw5ajn/S, 0, 0, 52, 2bo2$2bo2$bo$o!
5, B2-a3-ce4acnqyz5-ij6cek7c/S, 0, 0, 53, 4b2o$4bo$obo!
4, B2-c3ekqr4ciknqry5-jkqr6ei/S, 0, 0, 54, 3bo$o$2bo$o!
5, B2-a3-ckr4aijnty5aenqy6-kn/S, 0, 0, 55, o2$o2bo$bo$3bo!
3, B2-k3cey4acnw5aj/S, 0, 0, 56, obo2$4bo!
5, B2-an3-cekn4acjqtw5-jky6en/S, 0, 0, 57, 4bo$obo$bo2bo!
4, B2-an3-qry4acjnqrw5aej6n7/S, 0, 0, 58, o$bo$3bo2$3bo!
5, B2cek3-ein4ajnqtwy5ainr6-n7e/S, 0, 0, 59, 3bo$bo$3bo$o$2bo!
4, B2cek3-i4aceknwz5cinqr/S, 0, 0, 60, o2bo$4bo$o!
6, B2-an3-ck4aiknryz5ackqy6cik7e/S, 0, 0, 61, bo$o$3bo$o$3bo$bo!
4, B2-a3-ceqy4aenqrwy5anr6k/S, 0, 0, 62, 3bo$2bo3$obo!
5, B2-an3-cry4-aekqz5-cei6/S, 0, 0, 63, 3bo$2bo$bo$obo!
4, B2-c3jnqr4aknrwyz5-iknq6ik/S, 0, 0, 64, o$2bo$o$3bo!
5, B2cek3acjkr4-ejkqz5-ijk6kn/S, 0, 0, 65, 3bo$bo$4bo$obo!
4, B2cek3-eikn4-eijkq5ar6ai/S, 0, 0, 66, obo3$o$bo!
6, B2-a3-cey4acijnwy5aciqy6-en/S, 0, 0, 67, 3bo2$2bobo$bo$o$2bo!
4, B2-a3-cekq4acjnwy5-ci6ek7e/S, 0, 0, 68, 3bo2$o2bo$bo!
6, B2-an3-kry4ejknqtw5aejry6kn7e/S, 0, 0, 69, 2bobo$o$bo2bo$o!
4, B2-a3-cey4ainwz5cein6i/S, 0, 0, 70, bobobo$o!
5, B2-an3-cey4acinw5-e6k/S, 0, 0, 71, obo2$obobo!
4, B2-a3-cjk4akny5-cy6i7c/S, 0, 0, 72, obo2$3bo$2bo!
5, B2-an3-kq4aijkwz5acjk6ck7e/S, 0, 0, 73, 3bo$obo$4bo$o!
4, B2-an3-ceqy4acinqrw5ar6aei/S, 0, 0, 74, o2$o$2bobo!
6, B2cek3-kn4aejkwz5jny6ain/S, 0, 0, 75, 2bo2$o2bo$2bo$2bo$bo!
4, B2cek3-y4aeknrtw5n6acn7c/S, 0, 0, 76, bo$o2$bo2$bo!
5, B2cek3-ce4-iqrty5ai6aen/S, 0, 0, 77, obo2$bo2bo$3bo!
4, B2-a3-ck4acejnyz5-ciy6aik/S, 0, 0, 78, obo2$3bo$2bo!
5, B2cek3-en4aejknrw5einqy6ce/S, 0, 0, 79, 3bo$2bo$4bo$obo!
4, B2cek3-y4aeknrtw5nr6acn7c/S, 0, 0, 80, bo$o2$bo2$bo!
5, B2cek3-n4akntw5-cjk6aik/S, 0, 0, 81, 2bobo$o$3bo$bo!
4, B2cek3-i4ijknrw5jnr6cik/S, 0, 0, 82, 2bo$bo2$o$bo!
5, B2cek3-kn4-eiqr5aciny6-in7e/S, 0, 0, 83, 2bobo$o$3bo$bo!
4, B2-a3-cejk4acejkny5-ijqy6-cn7e/S, 0, 0, 84, bo$o2bo2$3bo!
5, B2-a3-ac4aikntw5ajkq6ain/S, 0, 0, 85, bo$3bo$o2$2bo2$2bo!
4, B2cek3-i4ijknrw5jn6ci/S, 0, 0, 86, 2bo$bo2$o$bo!
6, B2cek3-ciy4-aey5-eiqr6ei/S, 0, 0, 87, 2bo$3bo$o$2b2o$bo!
4, B2cek3-eky4-jrty5ekqr6kn/S, 0, 0, 88, obo3$o$bo!
6, B2-ai3-c4acknqrw5cknr6cik/S, 0, 0, 89, 2bo$bo$bobo$o$bo!
4, B2-an3-qry4-iktyz5aejqr6c7/S, 0, 0, 90, o$bo$3bo2$3bo!
5, B2-an3-ceir4-iy5-cijy7e/S, 0, 0, 91, bo$o$2bo$o2$o!
4, B2-an3-qry4acjnrw5aeqr6i7/S, 0, 0, 92, o$bo$3bo2$3bo!
5, B2-an3-cqy4-ceijq5-inry6n7/S, 0, 0, 93, 3bo$obo$bo$o!
4, B2-an3-kry4jntw5-cqy6eik7/S, 0, 0, 94, obo$4bo2$4bo!
5, B2cek3-ckn4-aeiqy5-acjy6-kn7e/S, 0, 0, 95, bo$2bo$o$2bo$o!
4, B2-an3-cer4ejnrtwy5knry6i/S, 0, 0, 96, bo$2bo3$obo!
6, B2cek3-ckn4aijknwz5ckqr6-ci7e/S, 0, 0, 97, 2bo$4bo$o$5bo$bobo!
4, B2cek3-kn4-cijkr5-cejy6ei/S, 0, 0, 98, obobo$5bo!
5, B2cek3-ckn4aknrtwz5-jr6-ik/S, 0, 0, 99, bo$3bo$o$2bobo!
4, B2-an3-qry4-ikty5ajnr6e7c/S, 0, 0, 100, o2$o$2bo$3bo!
6, B2cek3-eikn4acjntwz5-ejq6-i/S, 0, 0, 101, 3bo$bo$bobo$o$2bo!
4, B2-an3-kry4ijknw5-nqr6ak/S, 0, 0, 102, obo2$3bo$4bo!
5, B2cek3-ein4aejntwy5-eijq6ei8/S, 0, 0, 103, bobo$4bo$obo!
4, B2-an3-y4cijknwz5acjnr6acn7/S, 0, 0, 104, bo$o3bo2$4bo!
5, B2-an3-ckqr4-eijy5aeijk6cn7c/S, 0, 0, 105, 2bo$o$2bo$3bo$4bo!
4, B2cek3cijqr4-eikwz5-ejy6ak/S, 0, 0, 106, o$bobobo!
7, B2cek3-iy4-erty5-qry6ae/S, 0, 0, 107, 3bo$b2o$4bo$2o$2bo!
4, B2-a3-ceq4anqrwy5-jkn6ekn7e/S, 0, 0, 108, obo$3bo$4bo!
6, B2cek3-ceik4-c5aciqy6-ak8/S, 0, 0, 109, 2bo$4bo$o$5bo$bobo!
4, B2-an3-qry4-iktyz5aeky6-ik7c/S, 0, 0, 110, o$bo$3bo2$3bo!
7, B2cek3-cekn4-einqr5-ajkn6ae/S, 0, 0, 111, 3bo$2bo$bob2o$o$2bo!
4, B2-an3-qry4-ekqyz5-ckny6ikn/S, 0, 0, 112, o2$o$3bo$2bo!
10, B2-ai3-ckny4-enqyz5acijr6-n7e/S, 0, 0, 113, 2bo2$o2bo$2bobo$4b2o$2bo$bobo!
4, B2cek3-iy4-aeiny5-ciqy6ck/S, 0, 0, 114, bo2$bo2$o$bo!
5, B2cek3-cy4-aeity5cejkn6acn/S, 0, 0, 115, 2bo$bo$3bo$o$bo!
4, B2-a3-ckq4aknqrwy5akny7c/S, 0, 0, 116, 3bobo$bo$o!
6, B2-ai3-cqy4ijnrwz5-aeqr6-ce/S, 0, 0, 117, 2bo$4bo$o$5bo$bobo!
4, B2-an3-ery4cijknrw5aenqr6i/S, 0, 0, 118, o$bo2$2bobo!
6, B2-an3-cekq4-ceqr5acjy6-ck7e/S, 0, 0, 119, o$bobobo$3bo$4bo!
4, B2-a3-cer4-eikty5-iqy6ai/S, 0, 0, 120, obobo$5bo!
6, B2cek3-ekny4ainrtwy5cijnr6ain/S, 0, 0, 121, bo$3bo$o$3bo$obo!
4, B2cek3-ikn4-eikqr5-ceiq6ck7e/S, 0, 0, 122, obo3$2bo$bo!
6, B2cek3-k4-cen5aikr6ain/S, 0, 0, 123, o$2bo$bo$3bo$bo$3bo!
4, B2-an3-cek4akntw5cjqr6k7e/S, 0, 0, 124, obo3$3bo$2bo!
6, B2-an3-ckq4acjkqtw5aeiq6aei7c/S, 0, 0, 125, 2bo$4bo$o$5bo$bobo!
4, B2cek3-en4-jkqz5cenr6k/S, 0, 0, 126, o2bo$4bo$o!
11, B2cek3-kqy4-eiqty5aejkr6-ce7/S, 0, 0, 127, 2bo$3bo$4bo$bo3b2o$obobo$3bo$2bo!
4, B2cek3-ikn4-ijkqz5cin/S, 0, 0, 128, o$bobobo!
5, B2-ai3-ckny4-enqyz5eikr6a/S, 0, 0, 129, o$bo$o2$2bo$3bo!
4, B2-an3-ery4cijknrw5aenqr/S, 0, 0, 130, o$bo2$2bobo!
6, B2-ai3-ck4aiktw5aijnq6-en7/S, 0, 0, 131, 2bo$4bo$o$5bo$bobo!
4, B2-an3-ckqy4acknrwy5-eky6ac7/S, 0, 0, 132, 4bo$obo2bo!
6, B2-ai3-ckny4acjnrtw5-ci6cn/S, 0, 0, 133, bobo$5bo$o3bo2$2bo!
4, B2-an3-ceqy4aikqrw5acknr/S, 0, 0, 134, obo3$2bo$bo!
8, B2-an3-cqy4ainqrwz5aciqr6an7e/S, 0, 0, 135, 2bobo$4bobo$2o$3bo2bo!
4, B2-an3-eqy4-rt5aijr6cei/S, 0, 0, 136, 3bo2$2bo2$bo$o!
4, B2-an3-ce4acjnrwz5acqry6ik/S, 0, 0, 138, o2bobo$bo!
4, B2-a3-cqy4aeknwy5ny6k/S, 0, 0, 140, o$bo3$bobo!
6, B2-an3-ery4acknwz5-ein6-in78/S, 0, 0, 141, 3bo$obo$4bo$o$2bo!
4, B2cek3-y4-acity5ekn6ik/S, 0, 0, 142, bo$o2$bo2$bo!
6, B2cek3-ckn4-enqry5einr6-ck7e/S, 0, 0, 143, 2bobo$bo$2bobo$o!
4, B2cek3-eknq4-ckqrz5-acir6ek7e/S, 0, 0, 144, obobo$5bo!
7, B2-a3-ck4-eiwy5ace6cei7/S, 0, 0, 145, 3bo$2bobo$o3bo$4bo$2bo!
4, B2cek3-ack4aekwz5aknqr6ai7e/S, 0, 0, 146, o$bobobo!
6, B2-an3-ck4aiktwz5-cqy6ein7c/S, 0, 0, 147, 2bo$4bo$o$5bo$bobo!
4, B2-an3-cer4-cqy5aeik6-kn7e/S, 0, 0, 148, o$2bo$3bo$4bo!
7, B2cek3-ciy4-aceiy5aeknr6a7c/S, 0, 0, 149, 2bo$3b2o$o$2b2o$bo!
4, B2cek3-iy4-aity5aen6aei/S, 0, 0, 150, bo$o2$bo2$bo!
4, B2-an3-ceqy4acjnrwy5aen6ak/S, 0, 0, 152, 4bo$3bo$obo!
4, B2-an3-ceq4-ijqtz5acekr6-ai7e/S, 0, 0, 154, o$bo2$2bo2$2bo!
4, B2-an3-ce4-cjqy5acqry6e/S, 0, 0, 156, bo2$bo2$o$bo!
4, B2-a3-cr4-eiky5aeikr6ce7e/S, 0, 0, 158, bo$o2bobo!
9, B2-ai3-ck4aijktwz5ajnr6ai7/S, 0, 0, 159, bobobo$o$5b2o$2bobo$4bo!
4, B2-a3-cry4cjrtw5-ejkr6i/S, 0, 0, 160, bo2$bo2$bo$o!
5, B2-ai3-ckn4ijqrty5-ajky6-ek7c/S, 0, 0, 161, o$2bo$bo$3bo$bo!
4, B2cek3-ciy4cjknqrw5cknr6en/S, 0, 0, 162, bo$o2$bo$2bo!
6, B2cek3-kn4-ir5enqry6ce7/S, 0, 0, 163, bobobo$o$2b2o!
4, B2cek3-i4jkrw5enry6cei/S, 0, 0, 164, o$bo2bo$3bo!
4, B2cek34-acity5akn6ei/S, 0, 0, 166, bo$o2$bo2$bo!
9, B2-a3ijnr4-cej5-eqry6ce7e/S, 0, 0, 167, 2bo$2bo$3o$3bobo$bo$3bo!
4, B2cek3-ack4ekw5kn6k7c/S, 0, 0, 168, bo$o3$obo!
4, B2cek3-iy4jknrw5ejnry6ck7c/S, 0, 0, 170, 2bo$bo2$o$bo!
4, B2cek3-ikn4acjkwz5ir6an/S, 0, 0, 172, bobobo$o!
8, B2-an3-ikn4-inqr5-eik6ekn7e/S, 0, 0, 173, 4bo$o4bo$5bo$bobo$2bobo!
4, B2cek3-ckq4-cintz5acjn6ckn7c/S, 0, 0, 174, 5bo$obobo!
8, B2-an3-ky4aiknqwz5ajkry6-n/S, 0, 0, 175, 3bo$o$bo2bo$o$3b2o$2bo!
4, B2-a3ainqy4acinrtw5aciq6an7/S, 0, 0, 176, o$bo2$2bo2$2bo!
4, B2cek3-y4-aeity5cekn6ci7c/S, 0, 0, 178, obo2bo$4bo!
4, B2-an3-kry4ajknwz5air6ce7c/S, 0, 0, 180, o2$o$2bo$3bo!
4, B2cek3-c4aikntwz5ckq6ekn7/S, 0, 0, 182, o$bo2$bo2$bo!
4, B2-a3-ceq4aknrwy5-eny6akn/S, 0, 0, 184, obo$3bo$4bo!
4, B2cek3-iy4-ainqy5aknr6ck7c/S, 0, 0, 186, o2$o2$bo$o!
4, B2-an3-qry4acjktwz5aejnq6aci7c/S, 0, 0, 188, o$bobobo!
4, B2cek3-iy4cjkqrwz5cnr6akn7e/S, 0, 0, 190, o$bo2$o2$o!
4, B2cek3-cin4ajntwy5aiknq6ikn/S, 0, 0, 192, obo3$2bo$bo!
4, B2cek34cjknrw5acjn6ak7e/S, 0, 0, 194, obo2bo$4bo!
4, B2cek3-n4acijntw5-akqy6i/S, 0, 0, 196, o$bo2$bo2$bo!
5, B2cek3-k4eijkqw5acijy6akn7c/S, 0, 0, 198, bo$3bo$2bo$bo$o!
4, B2cek3-kqy4-eijt5aejq6n7e/S, 0, 0, 200, bo2$bo2$o$bo!
4, B2cek3-iy4-aeiny5-cjqy6ekn/S, 0, 0, 202, o2$o2$bo$o!
4, B2-an3-r4-ckqyz5acr6-cn7e/S, 0, 0, 204, 3bo2$3bo$bo$o!
4, B2cek3-c4aijknwz5aek6ack7/S, 0, 0, 206, o$bo2$2bobo!
4, B2-a3-ceq4acnrwy5aejry6ik/S, 0, 0, 208, 2bo$bo$o2$o!
4, B2cek3-ci4-aeiyz5-iqr6aei/S, 0, 0, 210, bo$2bo2$bo$o!
4, B2cek3-cn4-kqr5enqr6a7e/S, 0, 0, 212, o$bobobo!
4, B2cek3-iy4-ainy5ajnr6ekn7c/S, 0, 0, 214, o2$o2$bo$o!
4, B2cek34-acity5jkny6ik/S, 0, 0, 216, 4bo$obo2bo!
4, B2cek3-ky4acijknw5cinq6akn/S, 0, 0, 218, bo$o2$o2$o!
4, B2cek3-ce4ajkw5-airy6ae/S, 0, 0, 220, o2$o2$o$bo!
4, B2cek3-iy4jknrw5ejn6ck7e/S, 0, 0, 222, 2bo$bo2$o$bo!
4, B2-an3-c4acnrty5aejnr6ei7/S, 0, 0, 224, o3bo$bo$4bo!
4, B2cek3-iy4ijknrw5-aciq6c7e/S, 0, 0, 226, 2bo$bo2$o$bo!
4, B2-a3-ce4-ijrtw5-einq6kn7e/S, 0, 0, 228, 2bo2$bo2$o2$o!
6, B2-an3eijny4-rtz5-nqry6-a7/S, 0, 0, 229, 2bo$4bo$o2bo$bo$bo!
4, B2cek3-ikn4-eikqr5-c6ai7e/S, 0, 0, 230, bo2$bo2$bo$o!
4, B2-an3-r4ajnrtwz5aijr6aei7c/S, 0, 0, 232, obo2bo$4bo!
4, B2cek3-y4jknqrw5ejny6cn7/S, 0, 0, 234, 2bo$bo2$o$bo!
4, B2cek3-i4-jnqty5-ack6a7/S, 0, 0, 236, obobo$5bo!
4, B2cek3-iy4jkrtwz5acen6ckn/S, 0, 0, 238, o2$o2$bo$o!
4, B2-a3-cqr4ajnqw5-cy6ck/S, 0, 0, 240, 5bo$4bo$obo!
4, B2cek3-eikn4-eiqz5iknry6-i7/S, 0, 0, 242, 5bo$obobo!
4, B2cek34jknrw5-acqr6c7c/S, 0, 0, 244, 2bo$bo2$o$bo!
5, B2cek3-kn4ijnrtwz5ajqr6n7c/S, 0, 0, 246, 3bo$o$3bo$obo!
4, B2-a3-ckr4-eikrt5-ijqr6ae7/S, 0, 0, 248, 4bo2$o3bo$bo!
5, B2cek3-iy4aeknqrw5inqry6-ce7c/S, 0, 0, 250, 2bobobo$2o!
4, B2-a3-ack4acekntw5aijy6ak/S, 0, 0, 252, 3bo2$3bo2$bo$o!
5, B2-a3-ack4acjkrwz5aenr6a7/S, 0, 0, 254, o2b2o$bo3bo!
4, B2cek3-ceiy4-city5-jkq6ce/S, 0, 0, 256, obobo$5bo!
4, B2-an3-ky4jkw5ackn6aci7c8/S, 0, 0, 258, obo3$o$bo!
4, B2cek3-iy4-aityz5aijkn6ein/S, 0, 0, 260, o2bobo$bo!
5, B2cek3-kn4acjkrwz5ajkqr6-ce7c/S, 0, 0, 262, obo$4bo2$5bo$3bo!
4, B2cek3-ekqy4-ty5ceiqy6ein7/S, 0, 0, 264, o$bo2$bo2$bo!
4, B2cek3-y4jknqrw5ejny6cin7e/S, 0, 0, 266, 2bo$bo2$o$bo!
4, B2cek3-ck4ajkwz5cjnq6ak7c/S, 0, 0, 268, o$bobobo!
4, B2cek3-iqy4ijkrw5cijn6-n/S, 0, 0, 270, 2bo$bo2$o$bo!
4, B2-a3-ceq4-irtyz5acinq6ak/S, 0, 0, 272, o2$o2$bo$o!
5, B2cek3-ckq4-entz5-cir6an/S, 0, 0, 274, bo$3bo$bo$2bo$o!
4, B2cek34-aeity5ajkn6an7/S, 0, 0, 276, bo2$bo2$o$bo!
4, B2cek3-y4-cjnqy5-ciqy6a7e8/S, 0, 0, 278, bobobo$o!
4, B2-an3-ceq4anrwy5-cnqy6c/S, 0, 0, 280, bo$o2bobo!
5, B2cek3-q4-any5cejkn6aik7e/S, 0, 0, 282, bo$o$bo$bo$2bo!
4, B2cek3-iy4cjknrwz5ciknr6in/S, 0, 0, 284, 4bo$obo2bo!
5, B2cek34cjknrw5aejn6eik/S, 0, 0, 286, bo$o$o2$obo!
4, B2-an3-kr4ajknrtw5aciqr6an/S, 0, 0, 288, 2bobo2$bo$o!
5, B2cek3-cqy4-aceny5-qry6ek/S, 0, 0, 290, 2bo$3bo$obo2$bo!
4, B2cek3-ce4aciknw5acqy6ikn7e/S, 0, 0, 292, 4bo$o$bo2bo!
5, B2cek3-e4acinrwz5ackq6kn7c/S, 0, 0, 294, bobo2$3bo$obo!
4, B2cek34-aeity5aejny6a/S, 0, 0, 296, 4bo$obo2bo!
4, B2cek3-iy4cijkrtw5aekny7/S, 0, 0, 298, o2$o2$bo$o!
4, B2-an3ijnqy4-eiqyz5aknr6i/S, 0, 0, 300, bo$o2bobo!
5, B2cek3-ekn4-ekqry5aijqr6-e7e/S, 0, 0, 302, 2bo$4bo$o$bobo!
4, B2cek3-y4jknrwz5ejny6aci7c/S, 0, 0, 304, 4bo$obo2bo!
5, B2cek3-kny4-eiyz5cjry6cen7e/S, 0, 0, 306, bo$3bo$2bo$bo$o!
4, B2cek34cjknqrw5acen6ein7e/S, 0, 0, 308, o2bobo$bo!
4, B2cek3-ey4ajknqr5ainry6e7/S, 0, 0, 310, bo$o2bobo!
4, B2-an3-kry4aeiknw5-eqry6ck7c/S, 0, 0, 312, o$bobobo!
5, B2cek3-ekn4-knryz5-jkr6-c7c/S, 0, 0, 314, bo$o$3bo$o$2bo!
4, B2-a3-ceqy4-eiktz5aeiq6akn/S, 0, 0, 316, bo$o2$bo2$bo!
5, B2cek3ijqry4-kq5aqr6ai/S, 0, 0, 318, 2bo$o$3bo$o$bo!
4, B2cek3-kn4-rt5cinq6-ek7e/S, 0, 0, 320, o2$o2$o$bo!
5, B2-an3-ekq4-inqty5-enr6ikn7e8/S, 0, 0, 322, 3bo$obo$4bo$o!
4, B2cek3-y4jknqrw5ijkn6cik7e/S, 0, 0, 324, 2bo$bo2$o$bo!
5, B2-an3-kqr4-eq5aijk6aek7c8/S, 0, 0, 326, bo$3bo$obo2$o!
4, B2cek3-iy4jknrw5eijnr6-ai/S, 0, 0, 328, 2bo$bo2$o$bo!
5, B2cek3-iqy4-cnty5ainry6kn7e/S, 0, 0, 330, bo$2bo2$b2o$o!
4, B2cek3-ein4-kyz5-ijqr6-cn7e/S, 0, 0, 332, o$bobobo!
5, B2cek3-einy4-cikz5-iqy6ein/S, 0, 0, 334, 4bo$obo2bo$bo!
4, B2cek3-eikq4-cety5acekr6e/S, 0, 0, 336, bo$o2$bo$2bo!
4, B2cek3-y4jkrtwy5acjry6ik/S, 0, 0, 338, 3bo$bo2bo$o!
4, B2-a3-cry4anqtw5-ejr6aci/S, 0, 0, 340, bo$o2$bo2$bo!
5, B2cek3-k4ajnqtwz5aeiqy6-ac7/S, 0, 0, 342, 2bo$o$3bo$o$bo!
4, B2cek3-kn4-ikqyz5aer6ak/S, 0, 0, 344, 2bo$bo2$o$bo!
5, B2cek3-c4-aenqy5ceiny6ikn/S, 0, 0, 346, bo$o$bo$o2$o!
4, B2cek3-ei4-cityz5acir6-ai7e/S, 0, 0, 348, bo2bo$o$4bo!
5, B2cek3-kn4airtwz5-cij67c/S, 0, 0, 350, 4bo$obo$3bo$bo!
4, B2cek3-ey4ajkqrwz5cijnr6ekn7/S, 0, 0, 352, 4bo$obo2bo!
5, B2cek3-iqy4acjknw5-ijq6e/S, 0, 0, 354, bo$2bo$o2bo$4bo!
4, B2cek3-iy4-ainqy5nr6-en7c/S, 0, 0, 356, 4bo$obo2bo!
5, B2cek3-cikn4aijntwz5-ciqr6cek7e/S, 0, 0, 358, 2bo$bo2$o$2bo$bo!
4, B2cek3-kq4-inqrt5ay6cn/S, 0, 0, 360, 5bo$obobo!
5, B2-ai3-cikn4ajrtwz5aijny6-ce/S, 0, 0, 362, o$bo$2bo$3bo$bo!
4, B2-an3-ceqy4acikrw5-iqry6eik7e/S, 0, 0, 364, bo2bo$o$4bo!
6, B2cek3-cky4-jnr5-ejq7c8/S, 0, 0, 366, 2bo$3bo$o$2bo$bo$5bo!
4, B2cek3-iy4-aiqty5ainr6ce/S, 0, 0, 368, o2bobo$bo!
5, B2-an3-qry4-ikqr5ainr6-a/S, 0, 0, 370, 3bo$4bo2$bo$obo!
4, B2cek3-ci4-aeiqy5-ikq6ce/S, 0, 0, 372, bo$o2bo$4bo!
5, B2cek3-ckq4acejkrw5acir6-an7/S, 0, 0, 374, o$2bobo$bo$3bo!
4, B2cek3-iy4-ainqy5ajkny6eik/S, 0, 0, 376, 4bo$obo2bo!
5, B2cek3-eiqy4-cekq5aenqy6aik7/S, 0, 0, 378, bobo$4bo$obo!
4, B2cek3-c4-eijry5inry6ack/S, 0, 0, 380, o$bobobo!
5, B2-an3-ey4acijqtw5-eiqy6ak7c8/S, 0, 0, 382, bobo$4bo$obo!
4, B2cek3-ckq4-jrtyz5acekr6ac7e/S, 0, 0, 384, 3bobo$bo$o!
5, B2cek3-ckn4aijqrtw5ceiry6cei7/S, 0, 0, 386, 3bo$bo$2bobo$o!
4, B2cek3-iy4ejkqrtw5aikn6ak7e/S, 0, 0, 388, 4bo$obo2bo!
6, B2cek3-y4ijnqtw5-ery6ek/S, 0, 0, 390, o$bo2bo$bo$2bobo!
4, B2cek3-y4ejkqrtw5aijkn6-ai7/S, 0, 0, 392, 4bo$obo2bo!
5, B2cek3-kn4-iknqy5jknry6ace7/S, 0, 0, 394, 2bobo$bo2$obo!
5, B2-an3-eq4-qty5-jnqy6cek7e/S, 0, 0, 396, 4bo$o2bo$2bo$bo!
6, B2cek3-kq4-jqty5akqry6aik/S, 0, 0, 398, 2bo$4bo$o$5bo$bobo!
4, B2cek3-ekq4aijrtw5-acky6-cn7c/S, 0, 0, 400, o$bo2$bo2$bo!
5, B2cek3-cikn4-cekyz5iry6-ei/S, 0, 0, 402, 2bo$bo$2bo$o$bo!
4, B2cek3-eikn4-eik5ikn6ak/S, 0, 0, 404, o$bobobo!
5, B2cek3-kn4-cekny5acjkn6cen7c/S, 0, 0, 406, o2bo$4bo$bo$2bo!
4, B2cek3-y4aceiknw5-ajk6ack7/S, 0, 0, 408, o2$o2$o$bo!
5, B2-ai3-ckn4-cekny5-ijnq6aik7c/S, 0, 0, 410, o$bo2bo$2bo$3bo!
5, B2-a3-acqy4-cjqtz5aijk/S, 0, 0, 412, bo2bo$o$4bo$2bo!
4, B2cek3-kqy4-eqty5akq6k7c/S, 0, 0, 414, bobobo$o!
4, B2cek3-y4-aiqty5aen6-ak7e/S, 0, 0, 416, 4bo$obo2bo!
4, B2cek3-y4-aeity5aijn6aen7c/S, 0, 0, 418, bo$o2$bo2$bo!
4, B2cek3-iy4cjkqrwz5ceknr6ikn7e/S, 0, 0, 420, o2bobo$bo!
5, B2-an3-eiqy4-iqty5-kqy6-ai7c8/S, 0, 0, 422, 3bo$bo2$o$bo$o!
4, B2cek3-k4-cjnqr5-ciy6cin/S, 0, 0, 424, o$bo2$bo2$bo!
5, B2-an3-cey4-cenry5acinr6-ik7c/S, 0, 0, 426, 3bo$bo$2bobo$o!
4, B2cek3-cky4ijnqtw5aceiq6ace/S, 0, 0, 428, o2$o2$o$bo!
6, B2cek3-k4-nqt5cy6ikn/S, 0, 0, 430, 4bo$2bobo$bo2$obo!
5, B2cek3aejkr4aijkrw5jnq6in7c/S, 0, 0, 432, 2bo$bo$3bo$o$bo!
6, B2-an3-eikr4-eqr5acej6ek7e/S, 0, 0, 434, 3bo$b2o$4bo$obo!
4, B2cek3-iy4cjkrwz5acinr6-ac7c/S, 0, 0, 436, 4bo$obo2bo!
5, B2-an3-kq4aeknrwy5-qry6eik/S, 0, 0, 438, obo2$o2bo$4bo!
4, B2cek3-k4-ijkqy5-aikr6ei7e/S, 0, 0, 440, o2$o2$o$bo!
5, B2-ai3-ciny4-ey5aeny6aek7e/S, 0, 0, 442, bo$2bo2$bo$o$2bo!
4, B2cek3-iy4-ainy5aekn6cin/S, 0, 0, 444, o2bobo$bo!
5, B2cek3-kn4-qry5aeikr6c/S, 0, 0, 446, bo$3bo$o$2bobo!
4, B2cek3-iy4-ainyz5aenr6ik7e/S, 0, 0, 448, 4bo$obo2bo!
6, B2cek3-ekn4-aeiky5-ekq6-k7/S, 0, 0, 450, 3bo$o$bobobo2$3bo!
4, B2cek3-kn4-ejqt5iknqy6eik/S, 0, 0, 452, o$bo2$bo2$bo!
6, B2cek3-y4-ainyz5ejkn6-e7e/S, 0, 0, 454, o2$ob2o2$bo$o!
4, B2cek3-y4cjknrwz5akny6aei/S, 0, 0, 456, 4bo$obo2bo!
6, B2cek3-ckn4-ekny5cjr6acn7/S, 0, 0, 458, bobo$4bo$2o$2bo!
4, B2cek34-acity5aekny6ei7c/S, 0, 0, 460, o2bobo$bo!
5, B2cek3-cn4aijntwy5anqr6-ik7e/S, 0, 0, 462, 2bo$o$3bo$o$bo!
4, B2cek3-iy4ejkrtw5aejkn6-in7e/S, 0, 0, 464, 4bo$obo2bo!
8, B2-ai3-ckny4-cenry5-acy6-k7e/S, 0, 0, 466, o$bo$obo$3bo2$3bo$b2o!
4, B2cek3-y4ejknqrw5-ceqr6e7e/S, 0, 0, 468, o2bobo$bo!
6, B2cek3-eiy4-jqry5aen6-in7/S, 0, 0, 470, 3bo$bo$4bo$2o$2bo!
4, B2cek3-iy4cjkqrwz5ceknr6-ce7e/S, 0, 0, 472, 4bo$obo2bo!
4, B2-an3-qy4aeikqtw5acijq6-ae7e8/S, 0, 0, 476, 3bobo$bo$o!
6, B2cek3-kn4-cinr5cnr6-i7c8/S, 0, 0, 478, 3bo$bo2bo$2o$2bo!
4, B2cek3-ckn4-eijqy5knqry6in7c/S, 0, 0, 480, bo$o2$o2$o!
6, B2-ai3-ckn4ajqrtz5-ary6ain/S, 0, 0, 482, bobo$o$3b2o$2bo!
4, B2cek3-qy4-ciqry5anq6ac7e/S, 0, 0, 484, 3bo$2bo$o2$o!
5, B2cek3-cq4cjkrwz5-cikq6in7e/S, 0, 0, 488, bo$ob2o$4bo!
7, B2-ai3-ck4-enry5acnry6ae7e/S, 0, 0, 490, bobobo$o3bo$2bo3bo!
4, B2cek3-ci4cjknrwz5-qy6ace7e/S, 0, 0, 492, o$bo2bo$3bo!
7, B2-ai3-cik4-eijqy5aeikr6ak7c8/S, 0, 0, 494, o$2bo$bo$4bo$bo$3bo$bo!
4, B2cek3-ikn4-ekqrz5-ceiy6a7c/S, 0, 0, 496, o$bobobo!
6, B2cek3-ekn4-cein5acqr67e/S, 0, 0, 498, bo$o$3bo$obo$2bo!
4, B2cek3-iy4cejkrtw5ijknr6aek/S, 0, 0, 500, o2bobo$bo!
7, B2-ai3-ckny4-ceryz5eijnr6-n7/S, 0, 0, 502, bobobo$o$2bob2o!
4, B2cek3-ackn4ijnrtw5-cjy6ce7e/S, 0, 0, 504, o2$o2$o$bo!
7, B2-ai3-cy4-eqry5aeiqy6-e7c/S, 0, 0, 506, 2b3o$o$5bo$bo$3bo!
4, B2cek3-ikn4-eijkq5ainy67e/S, 0, 0, 508, obobo$5bo!
6, B2cek3-ei4-nqy5-ciq6a7e/S, 0, 0, 510, o$2bobo$b2o$3bo!
5, B2cek3-ciq4acjkqrw5cijn6-ac/S, 0, 0, 512, 4bo$3bo$bo$o$bo!
5, B2cek3-ciq4acjkrw5cjn6-ac/S, 0, 0, 516, 4bo$3bo$bo$o$bo!
13, B2cik3cijnq4acknqyz5-ckqy6ei8/S, 0, 0, 518, 2bo$2bo$2bobo2$2b2o2bo2$o5bo2$obobo2$2bo!
4, B2cek3-eky4-anty5-ijqr6-ce7c/S, 0, 0, 520, obo3$o$bo!
7, B2-an3-eir4-e5aiky6aik7e8/S, 0, 0, 522, bo$2b2o$obo$2bo$o!
5, B2cek3-kn4-cekny5-acin6cek7c/S, 0, 0, 524, bo$o$2bo$o$2bo!
6, B2cek3-ce4-rty5-jknr6aik7/S, 0, 0, 526, 2bo$4bo$o$5bo$bobo!
4, B2cek3-iy4cjkqrtw5ciknr6n7e/S, 0, 0, 528, o2bobo$bo!
5, B2cek3-cikn4-enqy5acy6-a/S, 0, 0, 532, obo$4bo$bo$3bo!
22, B2aei3ae4cr6c/S, 0, 0, 534, bobobobobo$o7bo$7bobo$o$7bobo$o7bo$5bo3bo$o3bo$bobobo3bo!
5, B2-an3-eqry4acinryz5aeiny6ci78/S, 0, 0, 536, 2bo$3bo$o$3bo$bo!
5, B2cek3-iq4ajknrwz5ceknr6ak7/S, 0, 0, 540, o$bo$2bo$3bo$bo!
4, B2cek3-iy4-ainqy5aikn6cin/S, 0, 0, 544, o2bobo$bo!
6, B2-an3-eiry4-eijr5aeinr6-in7e8/S, 0, 0, 546, 2bo$o$3bo$4bobo2$5bo!
5, B2cek3-eikn4-nqry5-ijkn6ei7c/S, 0, 0, 548, bo$3bo$o$2bo$o!
5, B2cek3-eqy4-cqt5-cknq6-ei/S, 0, 0, 550, 4bo$o2bo$2bo$bo!
4, B2cek3-iy4ceknqrw5-ckq6eik7e/S, 0, 0, 552, 4bo$obo2bo!
5, B2-an3-eqy4-crt5aejr6ai/S, 0, 0, 556, 3bo$bo$4bo$obo!
4, B2cek34-aity5ajny6ei/S, 0, 0, 560, o2bobo$bo!
7, B2cek3-kn4-einqy5aejqr6ain/S, 0, 0, 562, bo$o$2b2o$2bo$3bo$bo!
4, B2cek3-y4-aeity5any6a7/S, 0, 0, 564, o2bobo$bo!
5, B2cek3-i4cijkrwz5cin6aen7/S, 0, 0, 568, bo$o2bo$4bo$2bo!
4, B2-an3-eqy4-nqtz5aceny6ek8/S, 0, 0, 572, o2bo$4bo$o!
4, B2cek3-ck4-cnqry5n6cik/S, 0, 0, 576, o2$o2$o$bo!
7, B2-ai3-cy4acinqwz5aeqry/S, 0, 0, 578, 2bo$2bobo$o$5bo$bo$3bo!
5, B2cek3-eqy4-cekqt5-cikr6ac7e/S, 0, 0, 580, 2bobo$o$bobo!
4, B2cek3-iy4eknrtwz5acinr6ikn7c/S, 0, 0, 584, 4bo$obo2bo!
5, B2cek3-ciy4-einty5cijkn6-in7/S, 0, 0, 588, bo$o2bo$4bo$2bo!
5, B2cek3-ckny4ajkqwz5enqr6ac7e/S, 0, 0, 592, 2bobo$o2$2bo$3bo!
6, B2cek3-ir4antwyz5-ijky6cik/S, 0, 0, 594, bo$bobo$o$4bo$2bo!
5, B2cek3-ikn4ajqrtwz5-ijry6ci7e/S, 0, 0, 596, bo$3bo$obo$4bo!
4, B2-ai3-ck4ajkrt5-cekr6-ck7e/S, 0, 0, 600, bo$o2$o2$o!
6, B2-an3-cek4-nz5-cny6i7c/S, 0, 0, 602, bo$3bobo$o$2bobo!
5, B2cek3-eq4-cqrty5-ijnr6cin/S, 0, 0, 604, 3bo$2bo$bo$o$2bo!
5, B2cek3-kn4acjrtwz5ceijn6in/S, 0, 0, 608, o$2bo$o$2bo$bo!
14, B2ck3-c4aijktwz5ey/S, 0, 0, 610, bobobo3bo$2obobobo$2bobobobo$2bo!
4, B2cek3-eqy4-acij5-ajk6-a/S, 0, 0, 612, o$bobobo!
4, B2-an3-cekn4acjqtwz5-jkqy6akn78/S, 0, 0, 616, obo3$2bo$bo!
5, B2cek3-ciq4acjkrw5-ciqy6akn7c/S, 0, 0, 620, 2bo$bo$3bo$o$bo!
5, B2cek3-eikn4-cekqy5acin6aei7e/S, 0, 0, 624, 3bo$bo$4bo$obo!
4, B2-a3-ckr4ajnqtw5-ejkr6a7/S, 0, 0, 628, o$bo2$o2$o!
26, B2-an3-aiqy4-ciqt5-eiqy6acn7c/S, 0, 0, 630, 5bobo$3bo3bo$4bobob2o$3bobobo$3bo2bobo$obo2b2o$3bobob2o$2bo3bo$4bobo!
4, B2cek3-iy4-ainyz5ain6aik/S, 0, 0, 632, o2bobo$bo!
5, B2-a3-c4acjknqz5-inq6ei7/S, 0, 0, 636, 3bo$bo2$o2bo$2bo!
6, B2cek3-eny4-enqry5-ey6-ck/S, 0, 0, 638, 3bo$b2o$2bobo$o!
5, B2-an3-kqr4-acny5-cejq6-kn/S, 0, 0, 640, o$bo$2bo$3bo$bo!
5, B2cek3-q4-aeny5cekn6ai/S, 0, 0, 644, o$b2obo$3bo!
20, B2-ce3-ijky4cikrwyz5-r6cei7e8/S, 0, 0, 646, bobobo$2o$3bobo$o$4b2o$obo$2bo2bo$o$4b2o$obobo!
4, B2cek34-aeity5aeny6in7e/S, 0, 0, 648, 4bo$obo2bo!
5, B2cek3-kny4-cekr5aejq6-ak/S, 0, 0, 652, obo$5bo$3bo$4bo!
5, B2cek3-kn4-qry5-knqy6-kn8/S, 0, 0, 656, 2bo$o$3bo$bo$3bo!
14, B2ck3-c4ajkntw5ery/S, 0, 0, 658, 7bo$bo$bo7bo$2obobobo$2bobobobo$6bo!
5, B2cek3-kn4-eiyz5ar6ak7e/S, 0, 0, 660, 2bobo2$o$2bo$bo!
20, B2ck3-aejk4cin5er/S, 0, 0, 662, 4b3o2$2b2ob2obo2$2o7b2o2$2b2o5b2o2$4bobobo2$6bo!
5, B2cek3-qy4-acnqy5aejnr6-in/S, 0, 0, 664, bo$ob2o$4bo!
5, B2cek3-kn4-eny5acqr6ein7c/S, 0, 0, 668, o$2bo$4bo$2bo$3bo!
5, B2cek3-ikn4-rz5acnr6ak7e/S, 0, 0, 672, o$2bo$o$3bo$bo!
27, B2ei3e/S, 0, 0, 674, obobobobo$9bo$o$bo7bo$obo$3bo5bo$o3bo$bo3bo3bo$obobo$9bo$obobobobo!
5, B2cek3-aqy4-eik5aeik6cik7/S, 0, 0, 676, bo$o$o2bo$2bo!
5, B2cek3-ceny4-ceinq5-ceik6-en7c/S, 0, 0, 680, bo$2bo$o$3bo$2bo!
5, B2cek3-kny4-ceiyz5-cnq6ei/S, 0, 0, 684, bo$3bo$2bo$bo$o!
4, B2cek3-iy4-ceitz5aeijr6ci7e/S, 0, 0, 688, obobo$5bo!
5, B2cek3-c4ijnqrtw5n6c7e/S, 0, 0, 692, 4bo$o$4bo$bobo!
17, B2-c3eknqy4knqrz5aikqr6-an7e/S, 0, 0, 694, bobobobo$obo$bo5bo$o$7bo$o$7bo$o$bobobobo!
5, B2cek3-k4-qty5i6cek7/S, 0, 0, 696, o$bo2$bo$bo$bo!
4, B2cek3-y4cjkrtw5-ciqy6ace7/S, 0, 0, 700, o2bobo$bo!
14, B2ck3-c4acjkntw5ery/S, 0, 0, 702, 2bo$b2o$3b2o$2bo$3bo$obo$3bo$obo$3bo$bo!
5, B2cek3-cek4aeijknr5kqy6k/S, 0, 0, 704, 3bo$bo$o2bo2$bo!
5, B2cek3-iky4ajntwyz5-nq6cik7/S, 0, 0, 708, 2bo$o$3bo$bo$3bo!
5, B2cek3-ekn4-cknry5aeikr6c7c8/S, 0, 0, 712, o$2bo$o$3bo$bo!
4, B2cek3-k4ajkqrw5aceny6aek7c/S, 0, 0, 716, o$bo2$o2$o!
5, B2cek3-eky4-nqy5acjry6en/S, 0, 0, 720, o$2bo2$3bo$bo$3bo!
5, B2cek3-iqy4-aityz5aknry6-ak7c/S, 0, 0, 724, 3bo$2bo2$2o$2bo!
5, B2cek3-ciy4-aety5cekn6ac7e/S, 0, 0, 728, 2bo2$o$bo2bo$3bo!
5, B2cek3-cen4artwyz5-ei6n7e/S, 0, 0, 732, 3bo$bo$2bobo$o!
5, B2cek3ajqr4-cekqz5acnqr6-ac/S, 0, 0, 736, bobo$o$4bo$2bo!
14, B2ck3-cq4-eiqry5ery/S, 0, 0, 738, 3bo$5bo$2bobo$5bo$o3bo$5bo$4bo$5b2o$3b2o$4bo!
5, B2cek3-q4-acnyz5inr6n7e/S, 0, 0, 740, bo$ob2o$4bo!
5, B2cek3-y4ejknqwz5-ckqr6-in7e/S, 0, 0, 744, bo$2bobo$o$4bo!
5, B2cek3-iqy4-actyz5aknry6i7/S, 0, 0, 748, 3bo$2bo2$2o$2bo!
4, B2-ai3-cqy4ajnrtwy5enry6cek7e/S, 0, 0, 752, 3bo$4bo$bo$o!
5, B2-an3-ckqr4-ceinr5-cjry6-cn7/S, 0, 0, 756, 2bo$o$bo$2bo$3bo!
5, B2cek3-ckn4ajktwyz5-cky6ac7e/S, 0, 0, 760, bo$o$2bo$o$2bo!
5, B2-an3-cqry4-cejn5ajky6kn78/S, 0, 0, 764, bo$o2$bo$3bobo!
5, B2cek3-cek4-inqry5acjr6-en7e8/S, 0, 0, 768, o2$o$2bo$3bo$bo!
29, B2-an3-eiy4-ceij5ajnr6ei/S, 0, 0, 770, 4bo$6bo$2bo3bo$3b2o2bo$2obo$bobob4obo$bo3b2o$5bo2b2o$3b3obo$7bo$5bo!
5, B2-an3-ackq4aekqw5-jqr6-kn78/S, 0, 0, 772, 2bo2$o$bobobo!
16, B2ckn3-ci4acjkntw5ery/S, 0, 0, 774, 2bo$4bo$o2bo$4bobo$3bo$4bobo$3bo$4b2o$b3o$3bo!
5, B2-an3-kqy4-ctyz5aeijk6ce7c8/S, 0, 0, 776, bo$3bo$o$2bo$o!
6, B2cek3-k4-ijkqy5ejnqy6-ck7/S, 0, 0, 780, bo$2bo$obo$3bo$2bo!
6, B2cek3-ei4-nqry5ainr6-en7e8/S, 0, 0, 784, bobobo$o$4bo$2bo!
6, B2cek3-y4-ainq5ejnry6-ci7c/S, 0, 0, 788, 2bo$4bo$o2bo$bo$bo!
6, B2cek3-i4-aqtyz5ajknr6ckn/S, 0, 0, 792, 2bo$2o$3bo$o$bo!
17, B2ck3cinqr4cinz5er/S, 0, 0, 794, obobob5o2$2b2ob2o2b2o2$4bo3bo2$6bo!
6, B2cek3-iy4-cjqry5acenr6ei7e/S, 0, 0, 796, 2bo$3b2o$o$3bo$bo!
5, B2-an3-eqry4-ejqtz5acnqr6ace7e/S, 0, 0, 800, bobo$o$4bo$2bo!
5, B2-an3-ekny4-cqry5-eknq6aen7e8/S, 0, 0, 804, bo$2bo$o$3bo$2bo!
4, B2cek3-iy4-aity5jknr6ck7/S, 0, 0, 808, 4bo$obo2bo!
6, B2cek3-ciqy4ejkrtwz5ejnr6cin/S, 0, 0, 812, 2bo$3b2o$o$2bo$bo!
5, B2cek3-n4-cikrz5-eijy6k7e/S, 0, 0, 816, bo$3bo$o$2bo$o!
5, B2cek3-iq4-anqy5-ciqy6k7c/S, 0, 0, 820, 2bo$bo$bo$o$bo!
5, B2-an3-ekqr4-ceiqr5ackr6ae7e8/S, 0, 0, 824, bobo2$o$4bo$3bo!
5, B2cek3-ckn4-inqr5aijry67/S, 0, 0, 828, o$b2o2$2bo$bo!
8, B2-ai3-ack4-city5iknr6-a7e8/S, 0, 0, 830, bobo2$o4bo$4bo$5bo$2bo$3bo!
6, B2-an3-ekn4-qt5-cjnq6ck/S, 0, 0, 832, 3bo$3o$bo$o!
5, B2cek3-q4cjkqrtw5-iqy6-ek7e/S, 0, 0, 836, bo$o2bo$2bobo!
5, B2cek3-ekn4-ceikz5-ajkr6-ce7c8/S, 0, 0, 840, ob3o$5bo!
6, B2cek3-qy4-eikq5e67e/S, 0, 0, 844, o$bo2$3bo$2bo$bo$o!
5, B2-an3-ekq4-cjrtz5-ejk6n78/S, 0, 0, 848, 2o2$o$3bo$2bo!
5, B2cek3-ci4acjknrw5jnry6cei/S, 0, 0, 852, o$b2obo$3bo!
6, B2-ai3-cky4-eijy5air6ckn7/S, 0, 0, 856, o$bo$o$o$o$bo!
6, B2cek3aijqr4-cekr5-jknq6c7e/S, 0, 0, 860, bo$3bo$2o$2bo$o!
5, B2-an3-ekqr4-cer5-ejn6aei8/S, 0, 0, 864, 2bo$o$3bo$bo$3bo!
6, B2cek3-kn4-ekqr5aeknr6in7e/S, 0, 0, 868, 2bo$4bo$o2bo$bobo!
6, B2cek3-cek4-enqy5-cinq6ac/S, 0, 0, 872, bo$3bo$b2o$2bo$o!
5, B2cek3-kn4ajqrtwz5an6cik7e/S, 0, 0, 876, bo$o$2bo$o$2bo!
6, B2-a3-ceqy4-cijqt5aikny6akn8/S, 0, 0, 880, o$bo$2b2o$5bo$3bo!
6, B2-an3-qry4-ceir5aeijn6k7e/S, 0, 0, 884, bo$bo$o2bo$4bo$o!
6, B2-an3acjnq4-eijqr5aeinr6-en7c/S, 0, 0, 888, 3bo$bo$3bo$o$3bo$2bo!
5, B2cek3-cekn4-knr5-ceky6ack/S, 0, 0, 892, 3bo$bo$2bobo$o!
6, B2-an3-eiky4-enqry5aeinq6-ce7e8/S, 0, 0, 896, 2bobo$o$2bo$bo$3bo!
6, B2cek3-ckn4-ery5ceir6-ce78/S, 0, 0, 900, bobo$o2bo$4bo$2bo!
23, B2ei3ae4cr5i6n/S, 0, 0, 902, bobobobo$o7bo$7bo$o5bobo$5bo$o3bo3bo$bobo$o7bo2$obobobobo!
6, B2cek3-cy4-aceny5-acqy6aik7c/S, 0, 0, 904, 2bo$3b2o$o$2bo$bo!
6, B2-an3-kqy4-city5aeijk6-ik8/S, 0, 0, 908, bo$o$3bo$bo$bobo!
14, B2ck3-ci4ajkntw5ry6i/S, 0, 0, 910, bo5bo$bo7bo$2obobobo$2bobobobo$6bo!
6, B2cek3-eir45-jkny6ci7e/S, 0, 0, 912, 2bo$o$4bo$bobo$3bo!
6, B2-an3-cekq4-qrz5acijy6kn7/S, 0, 0, 916, o$2bobo$o$4bo$2bo!
6, B2cek3-y4-ainq5ejny6ck7e/S, 0, 0, 920, 2bo$4bo$o2bo$bo$bo!
5, B2cek3-kny4-cjkq5-cery6en/S, 0, 0, 924, 2bo$o$3bo$bo$3bo!
5, B2-ai3-cikn4aijrtw5-iqry6en7/S, 0, 0, 928, bobo$o$4bo$o!
6, B2cek3-q4-aenqy5cejn6acn7e/S, 0, 0, 932, 3bo$2bo$4bo$2o$2bo!
6, B2-ai3-acq4-cekqy5-cikq6aen/S, 0, 0, 936, 4bo$obo$bobobo!
6, B2cek3-y4-cnq5nr6kn7/S, 0, 0, 940, 3bo$2bo$4bo$2o$2bo!
6, B2cek3-ciy4-centy5eijnr6cen7c/S, 0, 0, 944, bo$bo$o2bo$4bo$2bo!
6, B2cek3-kn4-enqy5-eny6-ae78/S, 0, 0, 948, 2bo$o$2bo$2bo$2bo$bo!
7, B2cek3-iqy4-ceity5ijknr6aek7e/S, 0, 0, 952, 3bo$2bo$bobobo$o3bo!
6, B2-an3-ekry4-ekrt5-iy7/S, 0, 0, 960, 2bo$4bo$o$5bo$bobo!
6, B2-an3-eikr4-cer5acein6aek7c/S, 0, 0, 968, 3bo$bo$3b2o$o$2bo!
6, B2-a3-cek4-nqy5aeiy6ckn7c/S, 0, 0, 972, 2bo$o$5bo$2bo$4bo$2bo!
6, B2cek3-kny4-ejkyz5ajknq6i7e/S, 0, 0, 976, 2bobo$obo$3bo$bo!
5, B2cek3-aqy4-ekz5nry6cin7e/S, 0, 0, 980, o$bo$2bo$bobo!
6, B2cek3-y4-aeinq5einry6ck7e/S, 0, 0, 984, 2bo$4bo$o2bo$bo$bo!
7, B2cek3-eqy4-qy5aejkq6-a7e/S, 0, 0, 988, 3bo$obo$4bo$2o$2bo!
6, B2-an3-qy4-jnrz5-er6-ac8/S, 0, 0, 992, 2o$2bo$3bo$2bobo!
54, B3-aejk4cintyz5er/S, 0, 0, 2766, 9b4o2$7b2o4b2o2$5b2o8b2o2$3b2o12b2o2$b2o16b2o2$2o18b2o2$2b2o14b2o2$4b14o2$6b2o6b2o2$8b6o2$10b2o!
